<!DOCTYPE html>
<html>
<head>
	{% load static from staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!--<script src="{% static 'js/index.js' %}"></script>-->
    <title>Hacia Allá!</title>
</head>

<body >
    <div class="container">
        <header>
        <form action="sistema/" method="POST" class="form-inline" id="form" role="form">{% csrf_token %}
            <nav class="form-group">
                <label for="userE">Usuario:</label>
                <input type="text" class="form-control" name="username" id="userE" placeholder="Ingresa tu usuario Espol" required>
            </nav>
            <nav class="form-group">
                <label for="pwE">Contraseña:</label>
                <input type="password" class="form-control" name="password" id="pwE" placeholder="Ingresa tu contraseña" required>
            </nav>
            
           <button id="bIngresar" type="submit" class="btn btn-default">Ingresar</button>
        </form>
        <div id="div_img">     
              
        <div class="jumbotron">
           
            <h3>
                Hacia Allá!
            </h3>
            <div>
                <p>Dándonos la mano</p>
            </div>
        
        </div>
        </div>
        </header>
    
  <section class="row">

        <div class="col-0"></div>

         <div class="col-4">
            <h1>Hacia Allá</h1>
                <p>Es una aplicación que te une a la red más grande de amigos al volante.</p>
                <p>Comparte tu experiencia:</p>
            <div id="fb-root"></div>
            <div class="fb-share-button" data-href="http://127.0.0.1:8000/" data-layout="button_count"></div>
            <br />
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hacia%20Alla%20Web" data-size="default" data-counturl="https://dev.twitter.com/web/tweet-button" style="position: static; visibility: visible; width: 96px; height: 20px;"><img src="https://abs.twimg.com/favicons/favicon.ico" alt="Twitter" /></a>
        </div>
        <div class="col-3 right">
                <div class="aside">
                    <h2>¿Qué?</h2>
                        <p>Si!.. Hacía Allá te permite contactar a tus amigos para que te transporten de un lugar a otro. Además si tienes auto puedes ayudar a aquellos que necesiten un aventón</p>
                    <h2>¿Cómo?</h2>
                        <p>Tu puedes registrarte y agregar amigos para ser parte de éste nuevo beneficio. Sólo necesitas tu Usuario y Contraseña de Espol</p>
                 </div>
        </div>

        <div class="col-3 right">
         <div class="aside">
            <h2>No esperes más ¡Regístrate!</h2>
            <form action="registro/" method="post" id="form1" role="form">{% csrf_token %}
                <nav class="form-group" id="user">
                    <label for="userR">Usuario Espol:</label>
                    <input type="text" class="form-control" name="userForm" id="userR" placeholder="Usuario Espol" required>
                </nav>
                <nav class="form-group" id="pw">
                    <label for="pwR">Contraseña Espol:</label>
                    <input type="password" class="form-control" name="passForm"id="pwR" placeholder="Contraseña Espol" required>
                </nav>
                
                <button id="bListo" type="submit" class="btn btn-default">Listo</button>
            </form>                
         </div>                
        </div> 
    </section>
</div>
<footer class="footer">
  <p>Todos los derechos reservados</p>
</footer>
</body>
</html>
